
body {
    font-size: 16px;
}

#page_header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.25em;
}

#page_title {
    display: inline-block;
    width: 15.2em;
}

#error_message {
    color: red;
}

#left_pane {
    float: left;
    padding-top: 2.5em;
}

#right_pane {
    float: left;
    margin-left: 2em;
}

#error_message_stash {
    display: none;
}

.control_line {
    margin-bottom: 0.1em;
}

.search_label {
    display: inline-block;
    width: 10em;
}

.results {
}

.facet_container {
    height: 10em;
    width: 20.5em;
    overflow-y: scroll;
    padding: 0.25em;
    margin-bottom: 1em;
    border: 1px solid #666666;
}

.facet_value {
    display: inline-block;
    width: 14em;
}

.facet_n {
    display: inline-block;
    width: 5em;
    text-align: right;
}

/* START table manager css */

table {
    width: 100em;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

table, th, td {
   border: 1px solid #bbb;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #ddd;
}

th,td {
    text-align: left;
    padding: 5px;
}

button {
    cursor: pointer;
}

.tablemanager th.sorterHeader {
    cursor: pointer;
}
.tablemanager th.sorterHeader:after {
    content: " \f0dc";
    font-family: "FontAwesome";
}
.tablemanager th.sortingDesc:after {
    content: " \f0dd";
    font-family: "FontAwesome";
}

.tablemanager th.sortingAsc:after {
    content: " \f0de";
    font-family: "FontAwesome";
}

.tablemanager th.disableSort {

}

#for_numrows {
    padding: 10px;
}

#pagesControllers {
    display: block;
    text-align: center;
}

/* END table manager css */
