
body {
    font-size: 16px;
    margin: 2em;
}

.heading {
    margin-bottom: 1em;
}

.heading_text {
    font-weight: bold;
    margin-right: 2em;
    font-size: 1.25em;
}

.section_title {
    font-weight: bold;
    font-size: 1.25em;
}

table {
    border-collapse: collapse;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

table, th, td {
   border: 1px solid #bbb;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #ddd;
}

th,td {
    text-align: left;
    padding: 0.3em;
    padding-right: 2em;
}

