<!DOCTYPE html>
<html>
<head>
<title>Dossier</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/dossier.css">
</head>
<body>
    
<%

def fix_location(l):
    if l.strip() > '':
        return l.strip() + ', '
    else:
        return ''
    
import json

name = 'MISSING NAME'
try:
    name = all_jobs[0]['Full Name']
except KeyError:
    pass
    
%>

<div class="one_person">
    
    <div class="approval_line">
        <input type="radio" name="approval" value="not_approved"> <label>Not reviewed</label>
        <input type="radio" name="approval" value="defective"> <label>Defective</label>
        <input type="radio" name="approval" value="ok_low_confidence"> <label>OK (low confidence)</label>
        <input type="radio" name="approval" value="ok_high_confidence"> <label>OK (high confidence)</label>
        <input type="radio" name="approval" value="ok_auto_approval"> <label>OK (auto approval)</label>
    </div>
    
    <div class="gen_name_line">
        <span class="gen">${gen}</span>
        <span class="header_name">${all_jobs[0]['details'][0]['name']}</span>
        <span class="header_n_jobs">${str(n_jobs)}</span>
        <span class="header_n_records">${str(n_records)}</span>
    </div>
    
    % for job in all_jobs:
        
        <div class="job_line">
            <span class="office">${job['details'][0]['office']}</span>
            <span class="location">${fix_location(job['location'])} ${job['state']}</span>
            <span class="date_range">${job['details'][0]['record_year']} ${job['end_date']}</span>
            <span class="details">
            
            </span>
        </div>
    
        %for d in job['details']:
        <div class="details_line">
            <span class="source_category">${d['source_category']}</span>
            <span class="date">${d['record_year']}</span>
            <span class="details_name">${d['name']}</span>
            <span class="details_office">${d['office']}</span>
            <span class="details_occupation_type">${d['occupation_type']}</span>
            <span class="details_occupation_status">${d['occupation_status']}</span>
        </div>
        %endfor
    
    %endfor
</div>

</body>
</html>
