<!DOCTYPE html>
<html>
<head>
<title>Dossier</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/index.js"></script>
</head>
<body>
    
<%

record_keys = list(index_data[0].keys())

%>

<div class="controls">
    <input type="text" id="search_input" onkeyup="search_table()" placeholder="Search for names, etc . . . ">
</div>

<div class="index_div">

    <table id="sortable_searchable_table">
        
        <thead>
            <tr  class="header">
            %for key in record_keys:
                <th >${key}</th>
            %endfor
            </tr>
        </thead>
        
        <tbody>
        %for row in index_data:
            <tr>
                %for key in record_keys:
                    %if key == 'gen':
                        <td><a href="dossiers/${row[key]}.html">${row[key]}</a></td>
                    %else:
                        <td>${row[key]}</td>
                    %endif
                %endfor
            </tr>
        %endfor
        </tbody>
    
    </table>
    
    

</div>

</body>
</html>
