<!DOCTYPE html>
<html>
<head>
<title>Dossier</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/big_lists.css">
</head>
<body>
    
<%

def fix_location(l):
    if l.strip() > '':
        return l.strip() + ', '
    else:
        return ''

%>

<div class="big_list">
% for place, all_place_jobs in all_jobs_by_place_etc.items():
    
    <div class="one_place">
        <div class="location_header">${fix_location(place[0])}${place[1]}</div>
        % for job_type, jobs_for_a_type in all_place_jobs.items():
            <div class="job_type_header">${str(job_type)}</div>
            <div class="list_of_people">
            % for gen, jobs in jobs_for_a_type.items():
                <div class="one_person_place">
                    <div class="gen_name_line">
                        <span class="gen">${gen}</span>
                        <span class="header name">${jobs[0]['Full Name']}</span>
                    </div>
                </div>
        
                % for job in jobs:
                    
                    <div class="job_line">
                        <span class="office">${job['details'][0]['Office']}</span>
                        <span class="location">${fix_location(job['Locality'])}${job['State']}</span>
                        <span class="date_range">${int(job['details'][0]['Record Year'])} - ${int(job['end_date'])}</span>
                        <span class="details">
                        
                        </span>
                    </div>
                
                    %for d in job['details']:
                    <div class="details_line">
                        <span class="source_category">${d['SourceCategory']}</span>
                        <span class="date">${int(d['Record Year'])}</span>
                        <span class="name">${d['Full Name']}</span>
                        <span class="office">${d['Office']}</span>
                        <span class="occupation_type">${d['Occupation Type']}</span>
                        <span class="occupation_status">${d['Occupation Status']}</span>
                        <span class="date">${d['End Year']}</span>
                        <span class="date">${d['End Year.1']}</span>
                    </div>
                    %endfor
                
                %endfor
            %endfor
            </div>
        %endfor
    </div>
    %endfor
</div>

</body>
</html>
