<%!
    import re

    def fix_source(source):
        return re.sub(r'page 0*', 'page ', source)

    def fix_page_number(source):
        return re.sub(r'^0*', '', source)

    def fix_salary_string(s):
        
        result = ''
        if s[0].strip() > '':
            result = s[0].strip()
            if s[1].strip() > '':
                result = result + ' - ' + s[1].strip()
        if result == '':
            result = s[2]
        else:
            result = result + ' ' + s[2]
        if s[3] > '':
            result = result + ' ' + s[3]
    
        return result

    def get_row_class(a):

        result = 'normal'
        if a % 2 == 1:
            result = 'backgrounded_row'
        return result

%>
<!DOCTYPE html>
<html>
<head>
<title>Dossier</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/dossier.css">
</head>
<body>

<div class="name_data">
% for a, n in enumerate(data['names']):
    % if a == 0:
    <div class="name_line" style="font-weight: bold;">${n}</div>
    % else:
    <div class="name_line extra">${n}</div>
    %endif
%endfor
</div>
    
<h3>${gen}</h3>

<h2>Biographical Details</h2>

<div class="biography_data">
% if birth_line != '':
    <div class="biography_line"><b>Born:</b> ${birth_line}</div>
%endif
% if death_line != '':
    <div class="biography_line"><b>Died:</b> ${death_line}</div>
%endif
% if military_bio_line != '':
    <br/>
    <div class="biography_line">${military_bio_line}</div>
%endif
</div>

<h2>Federal Employment Record</h2>

<table class="dossier_employment">
    <tr><th>Start</th><th>End</th><th>Office</th><th>Location</th><th>State</th><th>Section</th><th>Departure Reason</th></tr>
% for a, n in enumerate(data['offices']):
    <tr class="${get_row_class(a)}"><td>${n[0]}</td><td>${n[1]}</td><td>${n[2]}</td><td>${n[3]}</td><td>${n[4]}</td><td>${n[5]}</td><td>${n[6]}</td></tr>
%endfor
</table>


% if len(data['salaries']) > 0:

<h2>Federal Salary Record</h2>

<table class="dossier_salary">
    <tr><th>From</th><th>To</th><th class="numeric_td">Salary</th><th>Pay Period</th></tr>
    % for a, n in enumerate(data['salaries']):
    <tr class="${get_row_class(a)}"><td>${n[0]}</td><td>${n[1]}</td><td class="numeric_td">${n[2]}</td><td>${n[3]}</td></tr>
    %endfor
</table>
%endif

<h2>Sources</h2>

<table class="dossier_sources">
    <tr><th>Source</th><th>Volume</th><th class="numeric_td">Page</th><th>Image</th></tr>
% for a, n in enumerate(data['sources']):
    <tr class="${get_row_class(a)}"><td>${n[0]}</td><td>${n[1]}</td><td class="numeric_td">${fix_page_number(n[2])}</td><td>${n[3]}</td></tr>
%endfor
</table>

<h2>Spreadsheet Data Sources</h2>
% for sheet, rows in raw_data.items():
    <table class="raw_data_table">
    <tr>
    % for k, v in rows[0].items():
        <th>${k}</th>
    %endfor
    </tr>
    % for a, d in enumerate(rows):
        <tr class="${get_row_class(a)}">
        % for k, v in d.items():
            <td>${v}</td>
        %endfor
        </tr>
    %endfor
    </table>
%endfor
</body>
</html>
