
body {
    font-size: 16px;
    margin-top: 2em;
}

span {
    display: inline-block;
    vertical-align: top;
}

/* --------------------------------------------------------------------- */

.one_place {
    margin-bottom: 2em;
}

.one_person {
    margin-bottom: 2em;
}

.one_person_place {
    margin-bottom: 1em;
}

.gen_name_line {
}

.job_line {
    margin-left: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.details_line {
    margin-left: 30em;
    font-size: 80%;
    margin-bottom: 0.5em;
}

.location_header {
    font-weight: bold;
    margin-bottom: 1em;
}

.job_type_header {
    font-style: italic;
    margin-bottom: 1em;
    margin-left: 3em;
}

.list_of_people {
    margin-bottom: 1em;
    margin-left: 6em;
}

/* --------------------------------------------------------------------- */

.header {
    font-weight: bold;
}

.gen {

}

.name {
    width: 12em;
}

.office {
    width: 12em;
}

.location {
    width: 12em;
}

.date_range {
    width: 10em;
}

.date {
    width: 3em;
}

.source_category {
    width: 6em;
}

.office {
    width: 20em;
}

.occupation_type {
    width: 12em;
}

.occupation_status {
    width: 8em;
}

.details_name {
    width: 10em;
}

.details_office {
    width: 10em;
}

.details_occupation_type {
    width: 12em;
}

.details_occupation_status {
    width: 8em;
}



