
body {
    font-size: 16px;
    font-family: sans-serif;
    padding-left: 20px;
    padding-top: 40px;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    font-weight: normal;
    font-family: serif;
    padding-bottom: 20px;
    margin-left: 20px;
}

.biography_data {
    margin-left: 20px;
    font-family: serif;
    padding-bottom: 20px;
}

table {
    margin-left: 20px;
    font-family: serif;
    margin-bottom: 40px;
    border-collapse: collapse;
}

.dossier_names {
    margin-left: 0px;
    font-family: sans-serif;
    font-size: 20px;
    padding-bottom: 0px;
}

th {
    background-color: #dddddd;
    text-align: left;
    padding-right: 10px;
    border: 1px solid #dddddd;
}

td {
    text-align: left;
    padding-right: 10px;
    border: 1px solid #dddddd;
}

.backgrounded_row {
    background-color: #eeeeee;
}

.numeric_td {
    text-align: right;
}

.raw_data_table {
    font-size: 12px;
}
